/* Расположение текста */
p.left{
    text-align: left;
}
p.right{
    text-align: right;
}
p.center{
    text-align: center;
}
/* Таблицы */
td.top{
    vertical-align: top;   
}
td.middle{
    vertical-align: middle;
}
td.bottom{
    vertical-align: bottom;
}
/*  vertical-align */
span.baseline{
    vertical-align: baseline;
}
span.sub{
    vertical-align: sub;
}
span.super{
    vertical-align: super;
}
span.pixel{
    vertical-align: -10px;
}
/* vertical align div */
/* .main{ */
    /* height: 150px; width: 400%; background-color: LightSkyBlue; display: inline-table; */
/* } */
/* .paragraph{ */
    /* display: table-cell; */
    /* vertical-align: middle; */
/* } */
/* p.none{ */
    /* text-decoration: none; */
/* } */
/* p.inherit{ */
    /* text-decoration: inherit; */
/* } */
/* p.overline{ */
    /* text-decoration: overline; */
/* } */
/* p.underline{ */
    /* text-decoration: underline; */
/* } */
/* p.line-through{ */
    /* text-decoration: line-through; */
/* } */
/* Отступ */
/* p.none{ */
    /* text-indent: -10px; */
/* } */


/* text-shadow */

/* h1{ */
    /* color: rgb(24, 12, 95); */
    /* font-size: 30pt; */
    /* text-shadow: 5px 2px 4px grey */
/* } */
/* h1.shadow{ */
    /* font-size: 20pt; */
    /* text-shadow: rgba(0,0,255,1) -1px -2px 0.5em; */
/* } */

/* p.capitalize{ */
    /* text-transform: capitalize; */
/* } */
/* p.uppercase{ */
    /* text-transform: uppercase; */
/* } */
/* p.lowercase{ */
    /* text-transform: lowercase; */
/* } */


/* letter-spacing */
/* p.normal{ */
    /* letter-spacing: normal; */
/* } */
/* p.posotive{ */
    /* letter-spacing:4px; */
/* } */
/* p.posotive-{ */
    /* letter-spacing:-1.5px; */
/* } */

/* word-spacing - расстояние между словами */
/* p.normal{
    word-spacing: normal;
}
p.px{
    word-spacing: 30px;
}
p.px-{
    word-spacing: -3px;
} */


/* white-space */
/* p{
    white-space: nowrap;
} */
/* p.pre{
    white-space:pre;
}
p.preline{
    white-space:pre-line;
}
p.prewrap{
    white-space:pre-wrap;
} */

/* Свойство border */
/* p{
    padding: 10px;
    border: 5px solid green
}
p.first{
    padding: 10px;
    border:solid;
    border-width: 2px;
}
p.two{
    padding: 10px;
    border:solid orange;
    border-width: 5px;

} */

/* border-style */
/* p.none{ border-style: none;}
p.dotted{ border-style: dotted;}
p.dashed{ border-style: dashed;}
p.double{ border-style: double;}
p.groove{ border-style: groove;}
p.ridge{ border-style: ridge;}
p.inset{ border-style: inset;}
p.outset{ border-style: outset;}
p.hidden{ border-style: hidden;} */ 

                /* Ширина и высота */
/* 
    div {
        border: 5px solid greenyellow;
        width: 90px;
        height: 90px;
    } */
            /* МИнимальный и максимальынй размеры */
/* p.first{
    border:5px solid green;
    min-height: 100px;
}
p.second{
    border: 5px solid green;
    max-width: 100px;
}
 */

                      /* Свойство background-color */

    /* body{
        background-color:grey;
    }
    p{
        background-color: #fff;
    }
    h1{
        background-color: blue;
    }
    h2{
        background-color: red;
    } */
                              /* Свойство background-image */
/* body{
    background-image: 
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqvNsNQYr-tVijaAOS9FIA0lVhw-PV1m8-qg&usqp=CAU.png");
    background-color: #e9e9e9;
} */

/* p{
    white-space: pre;
    padding: 30px;
    width: 100%;
    height: 100%;
    background-image: 
    url("https://cdn.igromania.ru/mnt/news/0/6/1/e/b/0/67879/d568e11b97dafd46_1200xH.jpg");
    color:white
} */

    /* Свойство background-repeat */

    /* body{
        background-image: 
        url("https://wroom.ru/i/cars2/chevrolet_corvette_7.jpg");
        background-repeat: no-repeat
    }
p{
    background-image: 
    url("https://images.drive.ru/i/0/50f3d7e3b721429a14000008.jpg");
    background-repeat: inherit;
    margin-top: 100px;
    padding: 40px;
} */

                /* Свойство background-attachment */
        /* body {
            background-image: 
            url("https://images.drive.ru/i/0/50f3d7e3b721429a14000008.jpg");
            background-repeat: no-repeat;
            background-attachment:fixed;
        } */
        /* body {
            background-image: 
            url("https://images.drive.ru/i/0/50f3d7e3b721429a14000008.jpg");
            background-repeat: no-repeat;
            background-attachment:scroll;
        } */


                    /*  Свойство list-style-type */

/* ol.lower-alpha {
    list-style-type: lower-alpha;  из 1 2 3 делает a b c 
}
ul.circle {
    list-style-type: circle;
}
ul.square {
    list-style-type: square;
} */

                    /* Изображение Списка и Позиция */

    /* ul {
        list-style-image:
        url("https://images.drive.ru/i/0/50f3d7e3b721429a14000008.jpg");
        list-style-position:inside;
    } */

                    /* Свойство list-style */

        /* ul { 
            list-style: square outside none;
        }
        или
        ul {
            list-style-type: square;
            list-style-position: outside;
            list-style-image: none;
        } */

                /* Стилизация таблиц */
            /* table {
                border-collapse: separate;
                border-spacing: 20px 40px;
            } */

                    /* Свойство capiton-side */
                    /* caption {
                        caption-side: top;
                } */
                
                            /* Свойство empty-cells  */

                /* table {
                    border-collapse: separate;
                    empty-cells: hide;
                } */


                                /* Cвойство table-layout */

                /* table {
                    border-collapse:separate;
                    width: 100%;
                    border: 1 px solid gray;
                }
                td {
                    border: 1px solid gray;
                }
                table.auto {
                    table-layout: auto;
                }
                table.fixed {
                    table-layout: fixed;
                } */

                                    /* Установка Стиля Ссылкам */

                /* a:hover {
                    color:red;
                } */









